<div id='proyectos' class='center padded coal section padded'>
    <div class='content padded'>
        <div class='padded'>
            <h1>Algunos proyectos desarrollados por mi cuenta</h1>
            <p>Actualmente trabajando en el gestos de tareas hecho con Spring, disponibles pronto...</p>
        </div>
        <div class='row'>
            <div class='card third'>
                <h3>Portfolio</h3>
                <p>Esta misma pagina web, desarrollada completamente utilizando python con Flask y html y css.</p>
                <a class='red' target='_blank' href='https://github.com/Sergi-Lopez/portfolio'>Python</a>
            </div>
            <div class='card third'>
                <h3>Generador de contraseñas</h3>
                <p>Una aplicación para generar contraseñas con los elementos que el usuario marque en la interfaz gráfica (mayusculas, minusculas, simbolos, numeros...), también se ajusta a la longitud y en base a esto indica como de segura es.</p>
                <a class='red margin-right' target='_blank' href='https://github.com/Sergi-Lopez/passwordgenerator_python'>Python</a>
                <a class='red' target='_blank' href='https://github.com/Sergi-Lopez/passwordgenerator_java'>Java</a>
            </div>
            <div class='card third'>
                <h3>Gestor de tareas</h3>
                <p>Una aplicación para gestionar tareas. Permite registrar usuarios con sus respectivas contraseñas y la seguridad adecuada para manejar estos datos y el login. Cada uno de ellos tiene una lista de tareas independiente. La versión de Java está hecha utilizando Spring.</p>
                <a class='red margin-right' target='_blank' href='https://github.com/Sergi-Lopez/todo_python'>Python</a>
            </div>
        </div>
    </div>
</div>