<div id='conocimientos' class='center coal section vert-pad'>
    <div class='content'>
        <h1 class='padded'>Conocimientos en Programación y Herramientas</h1>
        <div class="row hor-pad card">
            <div class="more-margin-right">
                <h3>Lenguajes de Programación</h3>
                <ul>
                    <li>Java</li>
                    <li>Python</li>
                    <li>Kotlin (nivel básico)</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>SQL</li>
                </ul>
            </div>
            <div class="more-margin-right">
                <h3>Frameworks</h3>
                <ul>
                    <li>Spring</li>
                    <li>Flask</li>
                    <li>tkinter</li>
                </ul>
            </div>
            <div class="more-margin-right">
                <h3>Bases de Datos</h3>
                <ul>
                    <li>MySQL</li>
                    <li>MongoDB</li>
                </ul>
            </div>
            <div>
                <h3>Herramientas</h3>
                <ul>
                    <li>Git</li>
                    <li>Selenium</li>
                </ul>
            </div>
        </div>
    </div>
</div>
