<div id='estudiosyexperiencia' class='center coal first-section padded'>
    <div class='content'>
        <div class='row vert-pad'>
            <div class='left padded margin-right'>
                <div class='card'>
                    <h1>Estudios</h1>
                    <p>IES Historiador Chabás - Desarrollo de aplicaciones multiplataforma (2022-2024)</p>
                    <p>UDEMY - Python sin fronteras: HTML, CSS, Flask y MySQL</p>
                    <p>Además, distintas certificaciones de nivel de OpenWebinars (Java M2, Python A2, MySQL M2) que pueden ser consultadas <a class='red' target='_blank' href='https://www.linkedin.com/in/sergilopezsanchez/details/certifications/'>aquí</a>
                </div>
                <div class='card margin-top'>
                    <h1>Estudiando actualmente</h1>
                    <p>Actualmente a pesar de haber terminado los estudios del grado superior me encuentro estudiando otros lenguajes de programación para ampliar conocimientos. En este caso, estoy empezando a estudiar Javascript mientras desarrollo aplicaciones utilizando Python y Java para ampliar el portfolio.</p>
                </div>
                
            </div>
            <div class='right padded card'>
                <h1>Experiencia profesional</h1>
                <h3>Creama - Desarrollador Java</h3>
                <p>Spring: Se ha desarrollado una API utilizando Spring para comunicar la base de datos con el frontend que es una página web hecha con HTML, CSS y Javascript. Además se ha utilizado Spring para manejar la seguridad de la aplicación y que solo usuarios con ciertos roles puedan acceder a la api o a algunas partes de la aplicación.</p>
                <p>MySQL: La base de datos se ha hecho con MySQL, una base de datos relacional para manejar las distintas tablas que se necesitan para el funcionamiento de la aplicación.</p>
                <p>Selenium: La aplicación se utiliza principalmente para la bajada de datos automática de fuentes públicas, para esto se ha utilizado Selenium y se han integrado las distintas rutinas en la aplicación de Java, de esta forma se utiliza esta aplicación inicialmente pensada para tests para automatizar la entrada a un link y que vaya navegando hasta encontrar los datos que se necesitan.</p>
            </div>
        </div>
    </div>
</div>
